<h1>ユーザホーム</h1>
<div>
    <a class="btn btn-outline-primary" href="/user/logout">ログアウト</a>
</div>
<dl>
    <dt>氏名</dt>
    <!-- ASPタグ -->
    <dd>
        <%= user.name %>
    </dd>
    <dt>Email</dt>
    <dd>
        <%= user.email %>
    </dd>
    <dt>趣味</dt>
    <dd>
        <ul>
            <!-- user.hobby を繰り返し liタグで表示 -->
            <% user.hobby.forEach((value)=> { %>
                <li>
                    <%= value %>
                </li>
            <% }) %>
        </ul>
    </dd>
</dl>